@model IEnumerable<Group>
<div>
    <h3>Список групп</h3>
</div>


<p>
    <a asp-action="Create" asp-controller="Group" method="post">Создать новую группу</a>
</p>

<table class="table table-sm table-bordered col-1">
    <thead class="bg-primary text-white text-center">
        <tr>
            <th>GroupId</th>
            <th>GroupName</th>
            <th>Description</th>
            <th>RecordDateTimeStamp</th>
        </tr>
    </thead>
    <tbody class="col-1">
        @foreach (var p in Model)
        {
            <tr>
                <td width="30"  style="text-align-last:center">
                    @p.GroupId
                </td>
                <td>
                    @p.GroupName
                </td>
                <td>
                    @p.Description
                </td>
                <td width="20">
                    @p.RecordDateTimeStamp
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@p.GroupId">Delete</a>
                </td>
            </tr>   
        }
   </tbody>
   
    </table>
